@-moz-document url-prefix(about:blank), url-prefix(about:home), url-prefix(about:newtab) {
  .search-inner-wrapper, .icon {
    display: none !important;
  }
}

@-moz-document url("about:newtab"), url("about:home") {
    body {
        background-image: url("$HOME/arch/wp/.config/wp/abstr") !important;
        background-position: center bottom !important;
        background-repeat: round !important;
        background-size: 10% !important;
        background-attachment: fixed !important;
    }
    } 
