/***********************************************************************************************
************************************************************************************************
███╗░░░███╗░█████╗░██╗███╗░░██╗░░░░░░██████╗░░█████╗░██████╗░
████╗░████║██╔══██╗██║████╗░██║░░░░░░██╔══██╗██╔══██╗██╔══██╗
██╔████╔██║███████║██║██╔██╗██║█████╗██████╦╝███████║██████╔╝
██║╚██╔╝██║██╔══██║██║██║╚████║╚════╝██╔══██╗██╔══██║██╔══██╗
██║░╚═╝░██║██║░░██║██║██║░╚███║░░░░░░██████╦╝██║░░██║██║░░██║
╚═╝░░░░░╚═╝╚═╝░░╚═╝╚═╝╚═╝░░╚══╝░░░░░░╚═════╝░╚═╝░░╚═╝╚═╝░░╚═╝
************************************************************************************************/
@import url(css_userChrome/main-bar_hide_arrow.css);
@import url(css_userChrome/main-bar_hide_the_list-all-tabs_button.css);
@import url(css_userChrome/main-bar_hide_the_open-application-menu_button.css);
@import url(css_userChrome/main-bar_remove_button_tooltips.css);
@import url(css_userChrome/main-bar_search-panel_and_tabs_one-liner.css);

/***********************************************************************************************
************************************************************************************************
░██████╗███████╗░█████╗░██████╗░░█████╗░██╗░░██╗░░░░░░██████╗░░█████╗░███╗░░██╗███████╗██╗░░░░░
██╔════╝██╔════╝██╔══██╗██╔══██╗██╔══██╗██║░░██║░░░░░░██╔══██╗██╔══██╗████╗░██║██╔════╝██║░░░░░
╚█████╗░█████╗░░███████║██████╔╝██║░░╚═╝███████║█████╗██████╔╝███████║██╔██╗██║█████╗░░██║░░░░░
░╚═══██╗██╔══╝░░██╔══██║██╔══██╗██║░░██╗██╔══██║╚════╝██╔═══╝░██╔══██║██║╚████║██╔══╝░░██║░░░░░
██████╔╝███████╗██║░░██║██║░░██║╚█████╔╝██║░░██║░░░░░░██║░░░░░██║░░██║██║░╚███║███████╗███████╗
╚═════╝░╚══════╝╚═╝░░╚═╝╚═╝░░╚═╝░╚════╝░╚═╝░░╚═╝░░░░░░╚═╝░░░░░╚═╝░░╚═╝╚═╝░░╚══╝╚══════╝╚══════╝
************************************************************************************************/
@import url(css_userChrome/search-panel_action_buttons_hover.css);
@import url(css_userChrome/search-panel_change_color_bookmark-star-icon.css);
@import url(css_userChrome/search-panel_connection_type_colors.css);
@import url(css_userChrome/search-panel_hide_the_blue_border.css);
@import url(css_userChrome/search-panel_hide_the_hint.css);

/***********************************************************************************************
************************************************************************************************
████████╗░█████╗░██████╗░
╚══██╔══╝██╔══██╗██╔══██╗
░░░██║░░░███████║██████╦╝
░░░██║░░░██╔══██║██╔══██╗
░░░██║░░░██║░░██║██████╦╝
░░░╚═╝░░░╚═╝░░╚═╝╚═════╝░
************************************************************************************************/
@import url(css_userChrome/tab_fill_available_width.css);
@import url(css_userChrome/tab_hide_close_button.css);
@import url(css_userChrome/tab_hide_the_firefox-favicon.css);
@import url(css_userChrome/tab_loading_progress_bar.css);


#tracking-protection-icon-container {
	display: none;
}

:root,
#TabsToolbar{ 
  --toolbarbutton-outer-padding: 4px !important; 
  --toolbarbutton-inner-padding: 4px !important; 
}